<div class="container main-container">
  
    <div class="row mb-4">
        <div class="col">
            <h1 class="display-6">Customer PO</h1>
        </div>
    </div>

    
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Purchase Orders</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">PO Number</th>
                                    <th scope="col">Vendor Name</th>
                                    <th scope="col">PO Required Date</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PO160622016</td>
                                    <td>MK Industries</td>
                                    <td>24-Jun-2022</td>
                                    <td><span class="status-badge status-acknowledged">Acknowledged</span></td>
                                </tr>
                                <tr>
                                    <td>PO160622014</td>
                                    <td>MK Industries</td>
                                    <td>16-Nov-2022</td>
                                    <td><span class="status-badge status-acknowledged">Acknowledged</span></td>
                                </tr>
                                <tr>
                                    <td>PO160622008</td>
                                    <td>MK Industries</td>
                                    <td>16-Nov-2022</td>
                                    <td><span class="status-badge status-open">Open</span></td>
                                </tr>
                                <tr>
                                    <td>PO160622010</td>
                                    <td>SPRS Solutions</td>
                                    <td>16-Nov-2022</td>
                                    <td><span class="status-badge status-acknowledged">Acknowledged</span></td>
                                </tr>
                                <tr>
                                    <td>PO160622009</td>
                                    <td>SPRS Solutions</td>
                                    <td>16-Nov-2022</td>
                                    <td><span class="status-badge status-acknowledged">Acknowledged</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

